.profile-pic {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.profile-pic img {
    width: 60%;
    margin: 0 auto;
    border-radius: 100%;
}

figcaption {
    font-weight: bold;
}

p {
    padding: 10px;
    line-height: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.testimony {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.testimony img {
    width: 60%;
    margin: 0 auto;
    border: 30px solid #C19A6B;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 20px 20px 10px -10px gray;
}


@media (min-width: 768px) {
    .profile-pic img {
        width: 60%;
    }
    .testimony img {
        width: 40%;
    }

    #grace {
        height: 550px;
    }

    #jake {
        width: 40%;
    }

    #jake-about {
        width: 30%;
    }

    #emma {
        width: 40%;
    }

    #emma-about {
        width: 40%;
    }

}

@media (min-width: 1024px) {
    .profile-pic img {
        width: 30%;
    }


    .testimony img {
        width: 25%;
    }

    #jake {
        width: 60%;
    }

    #jake-about {
        width: 25%;
    }

    #emma {
        width: 30%;
    }

    #emma-about {
        width: 20%;
    }

    #emily-images {
        position: relative;
        height: 500px;
        width: 100%;
    }
    #emily-about,
    #emily-about-2,
    #emily-about-3 {
        width: 25%;
        position: absolute;
        border: 30px solid #C19A6B;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 20px 20px 10px -10px gray;
    }

    #emily-about {
        left: 0;
    }

    #emily-about-2 {
        left: 34%;
        
    }

    #emily-about-3 {
        right: 0;
    }

    #lilly {
        width: 25%;
    }

    #zoe {
        width: 25%;
    }

}


