#title {
    color: black;
    text-align: center;
}

.profile {
    width: 75%;
    text-align: center;
    border: 10px solid rgb(1, 1, 58);
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 20px 20px 10px -10px gray;
}

.profile h1 {
    color: black;
}

.profile h3 {
    border: 5px solid skyblue;
    border-radius: 15px;
    background-color: skyblue;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 2%;
}

a {
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}

.profile img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20%;
    border-radius: 100%;
}

.david-walker {
    margin-top: 20px;
}

.emily-clubb {
    margin-top: 20px;
}

@media (min-width: 768px) {

    #title {
        margin-bottom: 60px;
    }

    .harrison-newman {
        width: 40%;
        float: left;
        margin-left: 20px;
    }

    .david-walker {
        width: 40%;
        float: right;
        margin-left: 20px;
        margin-top: 0;
    }

    .emily-clubb {
        width: 40%;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
    }


}

@media (min-width: 1024px) {


        #main {
            position: relative;
            height: 1100px;
        }
    
        .harrison-newman {
            position: absolute;
            top: 0;
            left: 5%;
            width: 32%;
        }
    
        .david-walker {
            width: 32%;
            position: absolute;
            top: 0;
            right: 5%;
        }

        .emily-clubb {
            width: 32%;
            position: absolute;
            bottom: 0;
            left: 5%;
        }

        #emily {
            width: 50%;
        }
}